* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #37433C;
	padding: 5px 0 7px 0;
}

header nav {
	margin: 7px 20px;
}

header h1 {
	background: #698F3F;
	border-radius: 15px 15px;
	text-align: center;
	font-size: 36px;
	color: #37433C;
	padding: 0 7px 5px 35px;
	max-width: 100%;
}

header nav ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}

header nav ul li {
	margin: 0 3px;
}

header nav ul li a {
	color: #698F3F;
	border-radius: 15px 15px;
	padding: 2px 5px;
	border-bottom: solid 3px;
	font-weight: lighter;
	font-size: 1.55vw;
	text-decoration: none;
}

.hero {
	background-image: url("../image/background-image.jpg");
	padding: 90px 20px 0 90px;
	background-size: cover;
	background-position: 80%;
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.hero h2 {
	color: #37433C;
	background: #698F3F;
	border-radius: 15px 15px;
	padding: 2px 5px;
	font-size: 24px;
	margin: 15px 30px;
}

.titles {
	background: #ccd1c8;
	padding-top: 25px;
}

.title {
	margin: auto 75px;
	padding-bottom: 25px;
	display: flex;
}

.title h2 {
	color: #37433C;
	padding-right: 10px;
	font-size: 36px;
	border-right: solid 2px;
	align-content: flex-start;
	text-align: right;
	flex: 1;
}

.title-info {
	display: flex;
	flex-wrap: wrap;
	flex: 5;
	margin: 25px 25px;
	color: #37433C;
}

.title-info a {
	text-decoration: none;
	color: #37433C;
}

.title-info a:hover {
	opacity: 70%;
}

.title-jobs-one {
	background-image: url(../image/run-buddy.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	width: 91.5%;
	display: flex;
	align-items: flex-end;
	padding-bottom: 15px;
	border: solid 4px #698F3F;
	border-radius: 15px 15px;
	margin-bottom: 10px;
}

.title-jobs-one h3 {
	background: #698F3F;
	height: 35px;
	align-content: flex-end;
	border-radius: 15px 15px;
	padding: 5px 10px 5px 10px;
}

.title-jobs-two {
	background-image: url(../image/run-buddy.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 45%;
	display: flex;
	align-items: flex-end;
	padding-bottom: 15px;
	border: solid 4px #698F3F;
	border-radius: 15px 15px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.title-jobs-two h3 {
	background: #698F3F;
	height: 35px;
	align-content: flex-end;
	border-radius: 15px 15px;
	padding: 5px 10px 5px 10px;
}

.title-jobs-three {
	background-image: url(../image/run-buddy.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 45%;
	display: flex;
	align-items: flex-end;
	padding-bottom: 15px;
	border: solid 4px #698F3F;
	border-radius: 15px 15px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.title-jobs-three h3 {
	background: #698F3F;
	height: 35px;
	align-content: flex-end;
	border-radius: 15px 15px;
	padding: 5px 10px 5px 10px;
}

.title-jobs-four {
	background-image: url(../image/run-buddy.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 45%;
	display: flex;
	align-items: flex-end;
	padding-bottom: 15px;
	border: solid 4px #698F3F;
	border-radius: 15px 15px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.title-jobs-four h3 {
	background: #698F3F;
	height: 35px;
	align-content: flex-end;
	border-radius: 15px 15px;
	padding: 5px 10px 5px 10px;
}

.title-jobs-five {
	background-image: url(../image/run-buddy.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 45%;
	display: flex;
	align-items: flex-end;
	padding-bottom: 15px;
	border: solid 4px #698F3F;
	border-radius: 15px 15px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.title-jobs-five h3 {
	background: #698F3F;
	height: 35px;
	align-content: flex-end;
	border-radius: 15px 15px;
	padding: 5px 10px 5px 10px;
}

/* not working yet */

.title-img {
	margin-left: 7px;
}

.title-img img {
	width: 200px;
	height: 200px;
}

.title-text {
	flex: 11;
	margin-left: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
}

.title-text p {
	color: #37433C;
	font-size: 18px;
	line-height: 1.25;
	display: flex;
	flex-wrap: wrap;
}

.title-text p a {
	border-bottom: 3px solid black;
	padding-bottom: 5px;
}

@media screen and (max-width: 980px) {
	header {
		position: relative;
	}

	header h1 {
		width: 100%;
		text-align: center;
	}

	header nav {
		width: 100%;
		text-align: center;
	}

	.title {
		flex: 100%;
	}

	.title h2 {
		flex: 1;
	}

	.title-info {
		flex: 3;
	}
}

@media screen and (max-width: 768px) {
	.title h2 {
		flex: 1;
	}

	.title-info {
		flex: 2;
	}
}

@media screen and (max-width: 600px) {
	.title-jobs-one {
		background-image: url(../image/run-buddy.PNG);
		background-size: cover;
		background-repeat: no-repeat;
		height: 400px;
		width: 91.5%;
		display: flex;
		align-items: flex-end;
		padding-bottom: 15px;
		border: solid 4px #698F3F;
		border-radius: 15px 15px;
		margin-bottom: 10px;
	}
	
	.title-jobs-one h3 {
		background: #698F3F;
		height: 25px;
		align-content: flex-end;
	}
	
	.title-jobs-two {
		background-image: url(../image/run-buddy.PNG);
		background-size: cover;
		background-repeat: no-repeat;
		height: 200px;
		width: 91.5%;
		display: flex;
		align-items: flex-end;
		padding-bottom: 15px;
		border: solid 4px #698F3F;
		border-radius: 15px 15px;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	
	.title-jobs-two h3 {
		background: #698F3F;
		height: 25px;
		align-content: flex-end;
	}
	
	.title-jobs-three {
		background-image: url(../image/run-buddy.PNG);
		background-size: cover;
		background-repeat: no-repeat;
		height: 200px;
		width: 91.5%;
		display: flex;
		align-items: flex-end;
		padding-bottom: 15px;
		border: solid 4px #698F3F;
		border-radius: 15px 15px;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	
	.title-jobs-three h3 {
		background: #698F3F;
		height: 25px;
		align-content: flex-end;
	}
	
	.title-jobs-four {
		background-image: url(../image/run-buddy.PNG);
		background-size: cover;
		background-repeat: no-repeat;
		height: 200px;
		width: 91.5%;
		display: flex;
		align-items: flex-end;
		padding-bottom: 15px;
		border: solid 4px #698F3F;
		border-radius: 15px 15px;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	
	.title-jobs-four h3 {
		background: #698F3F;
		height: 25px;
		align-content: flex-end;
	}
	
	.title-jobs-five {
		background-image: url(../image/run-buddy.PNG);
		background-size: cover;
		background-repeat: no-repeat;
		height: 200px;
		width: 91.5%;
		display: flex;
		align-items: flex-end;
		padding-bottom: 15px;
		border: solid 4px #698F3F;
		border-radius: 15px 15px;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	
	.title-jobs-five h3 {
		background: #698F3F;
		height: 25px;
		align-content: flex-end;
	}

	.title h2 {
		flex: 1;
	}

	.title-info {
		flex: 1;
	}
}